<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="Posts">
        <classes>
            <class name="ru.usetech.qa.tests.PostsTests"/>
        </classes>
    </test>
    <test name="Settings" >
        <classes>
            <class name="ru.usetech.qa.tests.SettingsTests" />
        </classes>
    </test>
</suite>
